<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>PerMonitorV2</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Metropolis Dark</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value>UseSegoeUI</value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="Office 2019 Black">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Paint" Value="38,38,38" />
                <SvgColor Name="Paint High" Value="50,50,50" />
                <SvgColor Name="Paint Shadow" Value="50,50,50" />
                <SvgColor Name="Paint Deep Shadow" Value="68,68,68" />
                <SvgColor Name="Paint Dark" Value="10,10,10" />
                <SvgColor Name="Brush" Value="241,241,241" />
                <SvgColor Name="Brush High" Value="241,241,241" />
                <SvgColor Name="Brush Light" Value="120,120,120" />
                <SvgColor Name="Brush Major" Value="102,102,102" />
                <SvgColor Name="Brush Minor" Value="70,70,70" />
                <SvgColor Name="Accent Paint" Value="Chocolate" />
                <SvgColor Name="Accent Paint Dark" Value="169,43,26" />
                <SvgColor Name="Accent Paint Light" Value="68,68,68" />
                <SvgColor Name="Accent Paint Lighter" Value="80,80,80" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="239,191,173" />
                <SvgColor Name="Red" Value="233,76,79" />
                <SvgColor Name="Green" Value="115,221,131" />
                <SvgColor Name="Blue" Value="59,154,220" />
                <SvgColor Name="Yellow" Value="248,183,96" />
                <SvgColor Name="Black" Value="212,212,212" />
                <SvgColor Name="Gray" Value="120,120,120" />
                <SvgColor Name="White" Value="50,50,50" />
              </SvgPalette>
            </Skin>
            <Skin Name="Basic">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Paint" Value="50,50,50" />
                <SvgColor Name="Paint High" Value="35,35,35" />
                <SvgColor Name="Paint Shadow" Value="55,55,55" />
                <SvgColor Name="Paint Deep Shadow" Value="60,60,60" />
                <SvgColor Name="Brush" Value="240,240,240" />
                <SvgColor Name="Brush High" Value="240,240,240" />
                <SvgColor Name="Brush Light" Value="120,120,120" />
                <SvgColor Name="Brush Major" Value="75,75,75" />
                <SvgColor Name="Brush Minor" Value="70,70,70" />
                <SvgColor Name="Accent Paint" Value="Chocolate" />
                <SvgColor Name="Accent Paint Dark" Value="84,79,118" />
                <SvgColor Name="Accent Paint Light" Value="70,70,70" />
                <SvgColor Name="Accent Paint Lighter" Value="55,55,55" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="180,177,205" />
                <SvgColor Name="Red" Value="246,71,37" />
                <SvgColor Name="Green" Value="52,166,63" />
                <SvgColor Name="Blue" Value="35,158,244" />
                <SvgColor Name="Yellow" Value="247,174,17" />
                <SvgColor Name="Black" Value="200,200,200" />
                <SvgColor Name="Gray" Value="100,100,100" />
                <SvgColor Name="White" Value="35,35,35" />
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>